<header class="site-header">
   <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
        </ul>
    </nav>


<nav>
    <h4 style="font-family:'Comic Sans MS'; text-align:center; color:purple;">
        MY STUPID LINKS
    </h4>
    <ul>
        <li><a href="../itsc3135/stuff/lA8! lo.htm">CRAPPY website</a></li>
        <li><a href="../itsc3135/bossenterprises.com/index.html">Boss Enterprises</a></li>
        <li><a href="../itsc3135/stuff/index.html">Website Evaluations</a></li>
        <li><a href="../itsc3135/hobby/index.html">Hobby Site (KSP)</a></li>
    </ul>
</nav>
</header>
